/* This is CSS which lets you set styles for your html.
   This helps to separate data from formatting.
   In this case, I have a style to center a div for the start/stop/restart button.
   I also set the bar graph fill the width of the screen and color it green.
   
   You can ignore the CSS for this example, but it is a good thing to learn
   if you plan on further web development. 
   
   CSS comments beging with the forward slash and asterisk and end with asterick and
   forward slash. They can span many lines as seen here.
*/

div.centered
{
	text-align: center;
	margin: auto;
}

progress
{
	color: Green;
	width: 100%;
}
